<nav class="navbar navbar-expand-lg fixed-top mb-5"> 

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li routerLinkActive="active">
				<a class="nav-link logo" routerLink="books">Livres</a>
			</li>
		</ul>
		<ul class="navbar-nav">

			<li class="mt-2">
				
				<span *ngIf="cartService.itemCount > 0" class="cartBtn price  mt-2 mr-5">
					{{ cartService.cartPrice | currency:"EUR":"symbol" }}
				</span>

				<button class="btn text-white cartBtn" routerLink="/cart" [disabled]="cartService.itemCount == 0">
					<i class="bi bi-cart"></i>
					<span class="cart-basket d-flex align-items-center justify-content-center">
						{{ cartService.itemCount }}
					</span>
				</button>
			</li>

			<li *ngIf="!isAuth" class="rightPosition">
				<div class="container">
					<div class="dropdown">
				   <button class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="bi bi-box-arrow-in-right"></i>&nbsp;
					<i class="bi bi-slash-lg"> </i>&nbsp;
					<i class="bi bi-person"> </i>&nbsp;
				   </button>
				   <div class="dropdown-menu dropdown-menu-right">
					 <a class="dropdown-item" routerLink="/auth/signin"><i class="bi bi-box-arrow-in-right">&nbsp;</i> Se connecter</a>
					 <a class="dropdown-item" routerLink="/auth/signup"><i class="bi bi-person-plus-fill"></i>&nbsp; Créer un compte</a>
				   </div>
				 </div>
			   </div>
			</li>

			<li routerLinkActive="active" class="rightPosition mr-3">
				<a class="nav-link" (click)="onSignOut()" *ngIf="isAuth" routerLink="books">Se déconnecter</a>
			</li>
		</ul>
	</div>
</nav>