nav {
    background-color: black;
}

.logo {
    position: relative;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

ul a {
    color: #fff;
}

ul a:hover {
    color: #c19a59;
}

.cart-basket {
    font-size: 0.6rem;
    position: relative;
    top: -25px;
    left: 10px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #ff0055;
    border-radius: 50%;
}

.cartBtn i:hover, .price:hover{
    color: #c19a59;
}

.cartBtn {
    height: 40px;
    position: absolute;
    right: 210px;
    top: 12px;
    color: #fff;
    background: transparent;
}

.rightPosition {
    position: absolute;
    top: 10px;
    right: 35px;
}

.rightPosition button {
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
}

.rightPosition:hover button {
    color: #c19a59;
}

.dropdown-menu{
    background: #c19a59;
}