<div class="footerBody">
    <footer>
        <ul class="social_icon">
            <li><a href="https://github.com/SEYF-SBE/BooksLib/tree/master"><i class="bi bi-github"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCcmKtwgUHrM3vg98Ys-kwLg/videos"><i class="bi bi-youtube"></i></a></li>
            <li><a href=""><i class="bi bi-linkedin"></i></a></li>
        </ul>
        <ul class="social_icon">
            <li><img src="../assets/images/mastercard.png" class="imagePay"></li>
            <li><img src="../assets/images/visa.png" style="height:40px"></li>
            <li><img src="../assets/images/mastercard2.png" class="imagePay"></li>
            <li><img src="../assets/images/paypal.png" class="imagePay"></li>
        </ul>
        <p>© 2021 SBEN | All Rights Reserved</p>
    </footer>
</div>
