.blueBlur {
    position: absolute;
    left: 15%;
    top: 20%;
    min-height: 65vh;
    width: 70%;
    background: rgba(88, 88, 88, 0.25);
    filter: blur(200px);
    z-index: -2;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1000;
    width: 35%;
    max-width: 1000px;
    min-height: 350px; //
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

@media screen and (max-width: 1280px) {
    section::before {
        content: "";
        position: absolute;
        width: 220px;
        height: 220px;
        background: linear-gradient(#ffeb3b 10%, #c19a59 70%);
        border-radius: 50%;
        transform: translate(200px, 130px);
    }

    section::after {
        content: "";
        position: absolute;
        width: 170px;
        height: 170px;
        background: linear-gradient(#c19a59 40%, #353535);
        border-radius: 50%;
        transform: translate(705px, 350px);
    }
}

@media screen and (min-width: 1290px) {
    section::before {
        content: "";
        position: absolute;
        width: 220px;
        height: 220px;
        background: linear-gradient(#ffeb3b 10%, #c19a59 70%);
        border-radius: 50%;
        transform: translate(90px, 315px);
    }

    section::after {
        content: "";
        position: absolute;
        width: 170px;
        height: 170px;
        background: linear-gradient(#c19a59 40%, #353535);
        border-radius: 50%;
        transform: translate(825px, 520px);
    }
}

.container h3 {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.container p {
    color: #fff;
    text-align: justify;
    margin-bottom: 40px;
    font-size: 14px;
}

.container .btnValid {
    background: #c19a59;
    color: #fff;
    font-weight: 650;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    height: 40px;
    border-radius: 25px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
}

.container .btnValid:hover {
   transform: scale(1.1) translateX(-45%);
}


.redirectToLogin {
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

.redirect {
    color: silver;
    text-decoration: underline;
    font-size: 13px;
}

.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}

.inputBox {
    margin-top: 10px;
    position: relative;
    color: #fff;
    margin-bottom: 40px;
}

.inputBox input {
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0px 10px;
    color: #000;
    z-index: -1;
}

.inputBox .text {
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 20px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:focus ~ .text,
.inputBox input:valid ~ .text {
    top: -15px;
    left: -10px;
}

.inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line {
    z-index: -1;
    height: 80%;
    color: black;
}
