<h2 class="text-center">Le contenu de votre panier</h2>
<section>
<div class="container">
    <div class="blueBlur"></div>
    <table class="table table-hover p-2 mt-5 text-light">
        <thead>
            <tr>
                <th>Livre</th>
                <th>Titre</th>
                <th class="text-right">Prix</th>
                <th>Quantity</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cart.lines.length == 0">
                <td colspan="5" class="text-center emptyCart">
                    Votre panier est vide.
                </td>
            </tr>
            <tr *ngFor="let line of cart.lines">
                <td><img src="{{line.book.urlPhoto}}" class="imgBook"></td>
                <td>{{line.book.title}}</td>

                <td class="text-right">
                    {{line.book.price | currency:"EUR":"symbol":"2.2-2"}}
                </td>
                <td>
                    <input type="number" class="form-control-sm input-number"
                     style="width:5em" [value]="line.quantity" onkeypress="return /[0-9]/i.test(event.key)"
                        (change)="cart.updateQuantity(line.book, $event)" min="0" />
                </td>
                <td class="text-right">
                    {{(line.lineTotal) | currency:"EUR":"symbol":"2.2-2" }}
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btnDeleteProduct" 
                    (click)="cart.removeLine(line.book.key!)">
                        <i class="bi bi-bag-x" style="color:#000"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total produits TTC :</td>
                <td class="text-right">
                    {{cart.cartPrice | currency:"EUR":"symbol":"2.2-2"}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</section>
<div class="text-center buttonControl">
    <button class="btn continueBtn" routerLink="/store">
        Continuer mes achats
    </button>
    <button class="btn m-1 checkOutBtn" (click)="onValidCart()" [disabled]="cart.lines.length == 0">
        Passer la commande
    </button>
</div>