<section></section>
<div class="container">
	<div class="row">
		<div class="blueBlur"></div>
		<div class="col-sm-8 offset-sm-2">
			<h3>Créer un nouveau compte</h3>
			<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="inputBox">
				<div class="form-group">
					<label for="email">Email</label>
					<input id="email" type="text" class="form-control" formControlName="email" placeholder="Entrer l'émail">
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input id="password" type="password" class="form-control" formControlName="password" placeholder="Entrer le mot de passe">
				</div>
				<button type="submit" class="btn btn-default btnValid" [disabled]="signUpForm.invalid">Créer mon
					compte</button>
			</form>
			<p class="text-danger">{{errorMessage}}</p>
		</div>
	</div>
</div>