.redirectToLogin {
  padding: 15px 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: rgba(0, 0, 255, .6);
}

.redirectToLogin .redirect {
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
}

.authBlock {
    box-shadow: none
  }
