<div>
  <div class="all">
    <div class="carda">
      <div class="covera">
        <img src='{{book.urlPhoto}}'>
      </div>

      <div class="details">
        <div>
          <img src='{{book.urlPhoto}}'>
          <h2>{{book.title | titlecase }}</h2>
          <h5>{{book.auther}}</h5>
          <p>{{book.description}}</p>
          <h3>29<sup>€</sup></h3>
          <a href="#">Ajouter au panier</a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default backBtn" (click)="onBack()">Retour</button>
</div>