<div>
  <div class="all">
    <div class="carda">
      <div class="covera">
        <img src='{{book.urlPhoto}}'>
      </div>

      <div class="details">
        <img class="imgBook" src='{{book.urlPhoto}}'>
        <h2>{{book.title | titlecase }}</h2>
        <h5>{{book.auther}}</h5>
        <p>{{(book.description | slice:0:240) + '..'}}</p>
        <div class="row">
          <h3>{{book.price}}<sup> €</sup></h3>
          <button class="btn btn-sm btnAddProduct" (click)="addProductToCart()">
            <i class="bi bi-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-default backBtn" (click)="onBack()">Retour</button>

  </div>
</div>