section {
  margin-top: 20vh;
  min-height: 70vh;
  padding: 20px;
  width: 80%;
  background: transparent;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  section::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: linear-gradient(#ffeb3b 10%, #c19a59 70%);
    border-radius: 50%;
    top: -4%;
    left: 20vw;
  }

  section::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 170px;
    background: linear-gradient(#c19a59 40%, #353535);
    border-radius: 50%;
    top: 41%;
    left: 64vw;
  }
}

@media screen and (min-width: 1300px) {
  section::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: linear-gradient(#ffeb3b 10%, #c19a59 70%);
    border-radius: 50%;
    transform: translate(30px, 45px);

  }

  section::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 170px;
    background: linear-gradient(#c19a59 40%, #353535);
    border-radius: 50%;
    transform: translate(850px, 300px);
  }
}

.blueBlur {
  position: absolute;
  left: 15%;
  min-height: 65vh;
  width: 70%;
  background: rgba(88, 88, 88, 0.25);
  filter: blur(200px);
  z-index: -2;
}

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1000;
  width: 40%;
  max-width: 1000px;
  min-height: 450px; //
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}

.container h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
}

.container .btnValid {
  position: absolute;
  background: #c19a59;
  color: #fff;
  font-weight: 650;
  padding: 0 20px;
  top: 112%;
  left: 50%;
  height: 40px;
  border-radius: 25px;
  margin-top: 15px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.forgotPassword {
  text-align: right;
  position: absolute;
  top: 56%;
  right: 13%;
  margin: -12px 0 15px 0;
  width: 100%;
}

.forgotPassword a {
  color: silver;
  font-size: 14px;
}

.redirectToLogin {
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: silver;
  position: absolute;
  top: 420px;
  right: 4.5vw;
}

.redirectToLogin .redirect {
  cursor: pointer;
  color: silver;
  text-decoration: underline;
}

.or {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  background: transparent;
  margin: 5px 0 0px;
}

.orInner {
  background: transparent;
  display: inline-block;
  z-index: 4;
  position: relative;
  padding: 0 12px;
}

.or:before {
  position: absolute;
  content: "";
  left: 12%;
  top: 11px;
  width: 35%;
  height: 1px;
  background: #e2e2e2;
}

.or:after {
  position: absolute;
  content: "";
  right: 12%;
  top: 11px;
  width: 35%;
  height: 1px;
  background: #e2e2e2;
}

.googleBtn {
  background: #a7a7a7;
  font-weight: 700;
  color: #000;
  width: 250px;
  margin-top: 3px;
  border-radius: 25px;
}

.googleBtn i {
  color: rgba(255, 0, 0, 0.6);
}

.horz-center {
  margin: 5px;
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translate(-50%, 50%);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.inputBox {
  margin-top: 50px;
  position: relative;
  color: #fff;
}

.inputBox input {
  width: 100%;
  height: 40px;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0px 10px;
  color: #000;
  z-index: -1;
}

.inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-size: 18px;
  padding: 0px 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input:focus ~ .text,
.inputBox input:valid ~ .text {
  top: -25px;
  left: -10px;
}

.inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line {
  z-index: -1;
  height: 80%;
  color: black;
}
