<section></section>
<div class="container">
  <div class="submit-form">
    <div class="blueBlur"></div>
    <div class="col-sm-10 col-8 offset-sm-1">
      <h2>Se connecter</h2>
      <form [formGroup]="signIpForm" (ngSubmit)="onSubmit()" class="inputBox">

        
          <div class="inputBox">
            <input id="email" type="text" class="" formControlName="email" required>
            <span class="text">Email</span>
            <span class="line"></span>
          </div>

          <div class="inputBox">
            <input id="password" type="password" class="" formControlName="password" required>
            <span class="text">Mot de passe</span>
            <span class="line"></span>
          </div>


        <button type="submit" class="btn btnValid grow" [disabled]="signIpForm.invalid">Se connecter</button>
      </form>
      <p class="text-danger">{{errorMessage}}</p>
    </div>

    <div class="formGroup">
      <span class="or"><span class="orInner">Ou</span></span>
    </div>


    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup horz-center">
      <button type="button" class="btn googleBtn grow" (click)="onSubmitGoogle()">
        <i class="bi bi-google"></i>&nbsp;
        <span> Connexion avec google</span>
      </button>
    </div>

    <div class="forgotPassword grow">
      <a routerLink="/forgot-password">Mot de passe oublié ?</a>
    </div>
  </div>

  <div class="redirectToLogin grow">
    <span>Besoin d'un compte ?<a class="redirect" routerLink="/auth/signup"> S'inscrire</a></span>
  </div>
</div>